.form-wrapper {
  border: 1px solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: fit-content;
  padding: 1rem;
  position: absolute;
  right: 1vw;
  background-color: #f16a70;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
}
