nav {
  display: flex;
  // background-color: red;
  justify-content: space-between;
  width: 100%;
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  .button-wrapper {
    display: flex;
    flex-direction: row;
  }

  button {
    width: auto;
    color: #f4f4f4;
    align-self: center;
    margin: 0.5rem;
    border: 0.25rem solid #f4f4f4;

    background-color: #f16a70;
    border-radius: 0.5rem;
  }
}
